<html>
  <head></head>
    <body>
      &nbsp;      
      <img src="cid:image1" alt="Logo" style="width:250px;height:50px;"><br>      
       <p><h1 style="font-size:25px;"><u>Your Sales Planner Results</u></h1></p>
       <p><h2 style="font-size:20px;">Thank you for using our Sales Planner!</h2></p>
		<h3 style="font-size:18px;">Here are some interesting stats for you!</h3></p>
       <table>
        <tbody>
          <tr>
            <td><b>Number of end point in submission:</b></td>
            <td>{{count}}</td>
          </tr>
          <tr>
            <td><b>Cost with Pangea solution</b></td>
            <td>£{{pangea}}</td>
          </tr>
          <tr>
            <td><b>Cost with SoGEA solution</b></td>
            <td>£{{sogea}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>          
          <tr>
            <td>Further PSTN switch off information</td>
            <td>https://pangea-group.net/pstn-switch-off/</td>
          </tr>
        </tbody>
      </table>
      &nbsp;
      <p><h2 style="font-size:20px;">Product Specifications</h2></p>
      <table>
        <tbody>
          <tr>
            <td><b><u>Product Name</u></b></td>
            <td>Product Info</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>                    
          <tr>
            <td>4G Cat 4</td>
            <td>https://pangea-group.net/pangea-cloudconnect</td>
          </tr>
          <tr>
            <td>4G Cat 6
            </td>
            <td>https://pangea-group.net/pangea-cloudconnect</td>
          </tr>
          <tr>
            <td>5G</td>
            <td>https://pangea-group.net/pangea-cloudconnect</td>
          </tr>
        </tbody>
      </table>
    </body>
</html>
